body {
  background-color: #cadefc;
  font-family: "Poppins", serif;
}

a {
  color: #cca8e9;
}

.weather-app {
  background: #d9faff;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #cadefc;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f4eeff;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #cca8e9;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

Main {
  padding: 30px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}

.weather-app-details strong {
  color: #fc92e3;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: 500;
}

.weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
}

footer {
  border-top: 1px solid #cadefc;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
